@using Library.MVC.Models.Library
@model InsertBookViewModel
@{
    ViewData["Title"] = "Insert a book";
}

<h1>
    Insert a book
</h1>

<form method="post" action="@Url.Action("InsertBook")">
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="ISBN" class="control-label"></label>
        </div>
        <div class="col-sm-8">
            <input asp-for="ISBN" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Title" class="control-label"></label>
        </div>
        <div class="col-sm-8">
            <input asp-for="Title" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Author" class="control-label"></label>
        </div>
        <div class="col-sm-8">
            <input asp-for="Author" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Summary" class="control-label"></label>
        </div>
        <div class="col-sm-8">
            <input asp-for="Summary" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-warning" href="@Url.Action("Index")">
                Cancel
            </a>
            <input type="submit" value="Create" class="btn"/>
        </div>
    </div>
</form>