@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<hr />

<table>
  <tr>
    <th>Email address</th>
  </tr>
  <tr>
    <td>no.cowleve@restaurant.com</td>
  </tr>
</table>

<hr />

<table>
  <tr>
    <th>Physical address</th>
  </tr>
  <tr>
    <td>Via Andrea Vesalio, 09121 Cagliari CA, Italy</td>
  </tr>
</table>

<hr />

<table>
  <tr>
    <th>Who to look for in case of complaints </th>
  </tr>
  <tr>
    <td>Riccardo Mura (riccardo_mura@yahoo.com, https://github.com/r-mura)</td>
  </tr>
</table>

<hr />