@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your only restaurant (since TODAY)</h1>
    <h2 class="display-5">Site under construction, please have mercy...</h2>
    <img src="/img/restaurant_presentation.jpg" alt="Girl in a jacket">
</div>