@using Library.MVC.Models.Account
@model AccountViewModel

@{
    ViewData["Title"] = "LogIn";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Login">
            <div asp-validation-summary=ModelOnly class="text-danger"></div>
            <div class="form-group">
                <label asp-for=Username class="control-label"></label>
                <input asp-for=Username class="form-control" />
                <span asp-validation-for=Username class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for=Password class="control-label"></label>
                <input asp-for=Password class="form-control" type="password"/>
                <span asp-validation-for=Password class="text-danger" />
            </div>

            <hr />
            <div class="container-centered">
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>