@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h2 class="display-4">Do you want to enter? :)</h2>
    <img id="LibraryImg", src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Labyrinthus_Aedificium.svg/800px-Labyrinthus_Aedificium.svg.png" />
    <table class="table">

        <thead>
            <tr>
                <th>Power level</th>
                <th>Required username</th>
                <th>Required password</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cow admin superpowers</td>
                <td>count.zero</td>
                <td>count.zero</td>       
            </tr>
            <tr>
                <td>Miserable human powers</td>
                <td>r.mura</td>
                <td>r.mura</td>       
            </tr>
        </tbody>
    </table>

</div>