@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<iframe
    width="960"
    height="540"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
>
</iframe>

@*<p>Use this page to detail your site's privacy policy.</p>*@