.cow {
    background-color: lightgray;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.cow.favorite {
    border-left: 5px solid lightgreen;
}

.cow h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}