@using Library.MVC.Models.Library
@model CreateEditBookViewModel
@{
    ViewData["Title"] = "Edit book info (" + @Model.ISBN + ")";
}

<h1>
    Edit book info
</h1>

<form asp-action="Edit" asp-controller="Library">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row form-group">      
        <label asp-for=ISBN class="col-sm-4 control-label text-sm-right"></label>
        <div class="col-sm-8 ">
            @*<input required asp-for=Isbn maxlength="13" class="form-control"/>*@
            @*<span asp-validation-for=Isbn class="text-danger"></span>*@
            @Html.DisplayFor(b => b.ISBN)
            <input type="hidden" asp-for=ISBN /> @*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@
        </div>
    </div>
    
    <partial name="_Form" model=@Model />

    <div class="row">
        <div class="col">
            <a class="btn btn-warning" href="@Url.Action("Index")">
                Cancel
            </a>
            <input type="submit" value="Update" class="btn btn-success"/>
        </div>
    </div>
</form>