<div *ngIf="showFilterCows" class="form-control">
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    [(ngModel)]="nameFilter"
    id="filter-name-input"
    placeholder="Filter cows by name..."
    (input)="updateNameFilter()"
  />
</div>
<div *ngIf="showFilterCows" class="form-control">
  <label for="purpose">Origin</label>
  <input
    type="text"
    name="origin"
    [(ngModel)]="originFilter"
    id="filter-origin-input"
    placeholder="Filter cows by origin..."
    (input)="updateOriginFilter()"
  />
</div>
<div *ngIf="showFilterCows" class="form-control">
  <label for="purpose">Purpose</label>
  <input
    type="text"
    name="purpose"
    [(ngModel)]="purposeFilter"
    id="filter-purpose-input"
    placeholder="Filter cows by purpose..."
    (input)="updatePurposeFilter()"
  />
</div>
