@import url("https://fonts.googleapis.com/css2?family=Macondo");
@import url("https://fonts.googleapis.com/css2?family=Tangerine");

* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body {
    background-color: antiquewhite;
    font-family: "Tangerine"; /* Retrievied from fonts.googleapis.com */
}

.btn {
    display: flex;
    font-family: inherit;
    font-weight: bold;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 20%;
    margin-left: 40%;
    background-color: aliceblue;
}