<form class="main-form" [formGroup]="billForm" (ngSubmit)="onSubmit()">
  <p>
    <span>
      <mat-form-field appearance="outline">
        <mat-label>Name for the bill</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Bill's name (optional)"
        />
        <mat-hint>Provider-Year-Month?</mat-hint>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field appearance="outline">
        <mat-label>First day</mat-label>
        <input matInput type="date" formControlName="firstDay" aria-label="date" />
      </mat-form-field>
    </span>
  </p>
  <p>
    <span>
      <mat-form-field appearance="outline">
        <mat-label>Amount due</mat-label>
        <input
          matInput
          type="number"
          formControlName="amount"
          placeholder="Total amount due"
        />
      </mat-form-field>
    </span>
    <span>
      <mat-form-field appearance="outline">
        <mat-label>Last day</mat-label>
        <input matInput type="date" formControlName="lastDay" aria-label="lastDay" />
      </mat-form-field>
    </span>
  </p>
  <ng-container formArrayName="tenants">
    <div *ngFor="let tenantForm of tenants.controls; let i = index">
      <div formArrayName="tenantForm">
        <p>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="text"
              formControlName="firstName"
              placeholder="Tenant's first name"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="text"
              formControlName="lastName"
              placeholder="Tenant's last name"
            />
          </mat-form-field>
          <button type="reset" mat-button color="warn" (click)="removeTenant(i)">
            Remove tenant
          </button>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="number"
              formControlName="daysOff"
              placeholder="Tenant's days off"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="number"
              formControlName="daysOfBilling"
              placeholder="Tenant's days of billing"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="number"
              formControlName="dueAmount"
              placeholder="Tenant's due amount"
            />
          </mat-form-field>
        </p>
      </div>
    </div>
    <p>
      <button type="button" mat-button color="basic" (click)="addTenant()">
        Add tenant
      </button>
      <button type="button" mat-button color="basic" (click)="clearTenants()">
        Clear tenants
      </button>
      <button type="submit" mat-button type="accent" color="primary">COMPUTE</button>
    </p>
  </ng-container>
</form>
